[include]
  # user info and anything local to this host goes here
  path = .gitconfig_local
[include]
  path = .gitaliases
[color]
  ui = true
[push]
  default = simple
[core]
  editor = git_editor
  excludesfile = ~/.gitignore_global
[log]
  date = iso
[user]
  name = pushittoprod
  email = 31714132+PushItToProd@users.noreply.github.com
[diff]
    tool = default-difftool
[difftool "default-difftool"]
    cmd = code --wait --diff $LOCAL $REMOTE